name: Pulumi
on:
  - push
  - pull_request

permissions:
  id-token: write
  contents: read

jobs:
  up:
    name: Preview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pulumi/auth-actions@v1
        with:
          organization: zacdirect
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:zacdirect
      - uses: pulumi/actions@v6
        with:
          command: preview
          stack-name: zacdirect/prod
          work-dir: ./infra
